<!DOCTYPE html>
<html>
<head>
	<title>Test Counties</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}" />
</head>

<body>
	<div class="page">
		<h2>Best place to live</h2>
		<h3>&#42;Based on: {{criteria}}</h3>
		
		<p>Hover over a county to see its score.</p>
		
		<object type="image/svg+xml" data="{{ url_for('counties_map') }}">Awww snap... Heroku took too long to create the svg file.</object>
		
		<table>
			<tr>
				<td class=left>Worst places</td>
				<td>
					<img src="{{url_for('static', filename='colorbar.png')}}" alt="Color bar"/>
				</td>
				<td class=right>Best places</td>
			<tr>
		</table>
	</div>
</body>
</html>
