<!DOCTYPE html>
<html>
<head>
	<title>Discover the best places to...</title>
	<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
</head>

<body>
	<div class=page>
		<h2>Discover the best places to...</h2>
		<h3>
			<a href="best_places_for_jobs">...live, based on house prices and job availability.</a>
		</h3>
		<h3>
			<a href="best_places_for_budget">...find technology jobs, based on your house budget.</a>
		</h3>
		<h3>
			<a href="best_places_to_live">&#42;NEW&#42;...live, based on your own criteria.</a>
		</h3>
	</div>
</body>
</html>