<html>
<head>
	<title>
	{{profession}} jobs vs house prices
	</title>
</head>

<body>
	<h2>Available {{profession}} jobs (scaled by average house price)&#42;</h2>
	
	<p>
		&#42; These are static plots because Heroku struggles to plot choropleths using only one dyno (backend server request gets interrupted).
		Full code for gathering data and displaying dynamic plots is <a href="https://github.com/LiamCattell/test_app">available here</a>.
	<p>
	
	<img src="{{url_for('static', filename=img_name)}}" alt="{{alt_text}}"/>
</body>
</html>
