<!DOCTYPE html>
<html>
<head>
	<title>Best places to live</title>
</head>

<body>

	<h3> 
		<form id='select_profession' method='post' action='best_places_for_jobs' >
			Discover the best places to live, based on house price and the availability of 
			<select name="profession_key">
				<option value="data-science">Data Science</option>
				<option value="financial-services">Financial Services</option>
				<option value="information-technology">Information Technology</option>
				<option value="mobile-app">Mobile Apps</option>
			</select>
			jobs.

			<p>
				<input type='submit' value='Go!' />
			</p>
		</form>
	</h3>
</body>
</html>