<!DOCTYPE html>
<html>
<head>
<title>Jobs vs House Prices</title>
</head>

<body>

	<h3> 
		<form id='select_profession' method='post' action='jobs_vs_prices' >
			Find
			<select name="profession_key">
				<option value="data-science">Data Science</option>
				<option value="financial-services">Financial Services</option>
				<option value="information-technology">Information Technology</option>
				<option value="mobile-app">Mobile Apps</option>
			</select>
			jobs, and scale them by average house price

			<p>
				<input type='submit' value='Show' />
			</p>
		</form>
	</h3>
</body>
</html>