<!DOCTYPE html>
<html>
<head>
	<title>Best places to find technology jobs</title>
</head>

<body>
	<h2>The best places to find technology jobs, based on your &#36;{{max_price}} maximum house budget</h2>
	
	<p>
		Note: These are static plots because Heroku struggles to plot choropleths (backend server request gets interrupted).
		Full code for mining data and displaying dynamic plots is <a href="https://github.com/LiamCattell/test_app">available here</a>.
	<p>
	
	<img src="{{url_for('static', filename=img_name)}}" alt="{{alt_text}}"/>
</body>
</html>
